<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a th:href="@{/index}">Expense Tracker</a>
                    <button class="sidebar-collapse-btn" type="button">
                        <span><i class="fa-solid fa-bars"></i></span>
                    </button>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a th:href="@{/index}" class="sidebar-link">
                            <i class="fa-solid fa-chart-line pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#transaction"
                            aria-expanded="false" aria-controls="transaction">
                            <i class="fa-regular fa-credit-card pe-2"></i>
                            Transaction
                        </a>
                        <ul id="transaction" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Income</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Expense</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Transfer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a th:href="@{/accounts}" class="sidebar-link active">
                            <i class="fa-solid fa-id-card pe-2"></i>
                            Accounts
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Categories
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-receipt pe-2"></i>
                            Records
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-user pe-2"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3">
                <!-- Button for sidebar toggle -->
                <button class="main-collapse-btn" type="button">
                    <span><i class="fa-solid fa-bars"></i></span>
                </button>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item active" aria-current="page">Accounts</li>
                            </ol>
                        </nav>
                    </nav>

                    <!-- Overall Section -->
                    <div class="row g-3 px-1">
                        <div class="col-12 col-sm-4">
                            <div class="card total-balance">
                                <div class="card-body">
                                    <h5 class="card-title">Total Balance</h5>
                                    <p class="card-text">1000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="card total-income">
                                <div class="card-body">
                                    <h5 class="card-title">Total Income</h5>
                                    <p class="card-text">1000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="card total-expense">
                                <div class="card-body">
                                    <h5 class="card-title">Total Expense</h5>
                                    <p class="card-text">1000</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Accounts Section -->
                    <div class="row g-3 px-1 pt-3">
                        <div class="col-12">
                            <div class="card accounts">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="card-title">Accounts</h5>
                                        </div>
                                        <div class="col-6 d-flex justify-content-end">
                                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewAccount">Add New Account</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                  <th scope="col">Account Type</th>
                                                  <th scope="col">Account Name</th>
                                                  <th scope="col">Balance</th>
                                                  <th scope="col">Actions</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr th:each="account : ${accounts}">
                                                  <td th:text="${account.accountType}"></td>
                                                  <td th:text="${account.accountName}"></td>
                                                  <td th:text="${account.balance}"></td>
                                                  <td>
                                                    <button class="btn btn-success" type="button">Edit</button>
                                                    <button class="btn btn-danger" type="button">Delete</button>
                                                  </td>
                                                </tr>
                                              </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add New Account Modal -->
                    <div class="modal fade" id="addNewAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewAccountLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addNewAccountLabel">Add New Account</h1>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="accountTypeInput" class="form-label">Account Type</label>
                                        <input type="text" class="form-control" id="accountTypeInput">
                                    </div>
                                    <div class="mb-3">
                                        <label for="accountNameInput" class="form-label">Account Name</label>
                                        <input type="text" class="form-control" id="accountNameInput">
                                    </div>
                                    <div class="mb-3">
                                        <label for="accountBalanceInput" class="form-label">Balance</label>
                                        <input type="text" class="form-control" id="accountBalanceInput">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary" type="button">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>

    <!-- JavaScript -->
    <script th:src="@{/js/actions.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>